h1{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

color: red;
text-align: center;

}
h2 {
    text-align: center;
    color: red;
}
h3{ text-align: center;
color: red;
}
p{
    text-align: center;
    color: blue;
    
}